@import url(https://fonts.googleapis.com/css?family=Comfortaa:regular,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC:regular,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5vw;
  line-height: 1.2em;
}

h2 {
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 1.2em;
}

.chinese {
  font-family: Noto Serif SC;
}

body {
  font-family: Comfortaa;
  width: 100%;
  color: #fff;
  background-color: rgb(17, 17, 17);
  cursor: default;
}

.container {
  max-width: 62.5vw;
  margin: 0 auto;
}

.new-text {
  font-size: 0;
  display: none;
}

.change-text {
  z-index: -5;
  text-transform: uppercase;
  line-height: 1.2em;
}

.section {
  position: relative;
  width: 100%;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 6vw;
  border: #fff 0.2vw solid;
  width: 40%;
  min-height: 8.33vw;
  padding: 1.38vw;
  box-sizing: border-box;
  cursor: pointer;
}
.section-title--black {
  border: #111 0.2vw solid;
  color: #111;
}
.section-count {
  position: absolute;
  bottom: 2vw;
  right: 4vw;
  font-size: 10vw;
}

.mainscreen {
  width: 100%;
  height: 100vh;
}
.mainscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.mainscreen-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainscreen-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  background: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgba(17, 17, 17, 0.8) 50%, rgba(17, 17, 17, 0) 100%);
}
.mainscreen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.mainscreen-title {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 1.39vw;
  width: 25vw;
  height: 25vw;
  padding: 1.39vw;
  border: #fff solid 0.28vw;
  cursor: pointer;
}
.mainscreen-title h1 {
  display: inline-block;
  margin: 0 auto;
}
.mainscreen-subtitle {
  font-size: 1.5vw;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.78vw 0 8.89vw;
}
.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-photo {
  position: relative;
  display: inline-flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.55vw #fff solid;
}
.about-photo::after {
  content: "";
  position: absolute;
  top: -1.4vw;
  left: -1.4vw;
  width: 100%;
  height: 100%;
  border: 0.14vw solid #fff;
  z-index: -5;
}
.about-photo::before {
  content: "";
  position: absolute;
  top: 1.4vw;
  right: -1.4vw;
  width: 100%;
  height: 100%;
  border: 0.28vw solid #fff;
  z-index: -5;
}
.about-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 101%;
  height: 105%;
  margin: -0.14vw;
}
.about-info {
  display: inline-flex;
  flex: 1 1 30%;
  flex-direction: column;
  padding: 0 2.77vw;
  box-sizing: border-box;
}
.about-text {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 1.4vw;
}

.achievements {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.78vw 0 13.89vw;
  color: #111;
}
.achievements::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffafa;
  z-index: -10;
}
.achievements-wrapper {
  display: flex;
  flex-direction: row;
}
.achievements-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  margin: 3.5vw 2vw;
  border: #111 0.28vw solid;
}
.achievements-item:first-child {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 7vw;
}
.achievements-item:last-child {
  margin-right: 0;
  margin-top: 7vw;
  margin-bottom: 0;
}
.achievements-item--img {
  position: relative;
  width: 100%;
  height: 30vw;
  overflow: hidden;
  border-bottom: #111 0.28vw solid;
  margin-bottom: 1.4vw;
}
.achievements-item--img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1254901961);
  transition: all 0.3s ease;
}
.achievements-item--img:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
.achievements-item--img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.achievements-item--info {
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
  padding: 0 0.7vw 0.7vw 0.7vw;
  box-sizing: border-box;
  margin-bottom: auto;
}
.achievements-item--title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7vw;
  line-height: 1.2em;
}
.achievements-item--text {
  font-size: 1.25vw;
  line-height: 1.6em;
}

.contact {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.78vw 0 2.78vw;
  overflow: hidden;
}
.contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.contact-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-text {
  width: 50%;
  font-size: 1.8vw;
  line-height: 1.2em;
  margin-bottom: 1.8vw;
}
.contact-tel {
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1vw;
  margin-bottom: 1.8vw;
  box-sizing: border-box;
  line-height: 1.2em;
  font-size: 1.8vw;
  cursor: pointer;
}
.contact-tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 50%;
  border-left: 0.2vw #fff solid;
  border-top: 0.2vw #fff solid;
  transition: all 0.3s ease;
}
.contact-tel::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 50%;
  border-right: 0.2vw #fff solid;
  border-bottom: 0.2vw #fff solid;
  transition: all 0.3s ease;
}
.contact-tel:hover::before {
  width: 100%;
  height: 100%;
}
.contact-tel:hover::after {
  width: 100%;
  height: 100%;
}
.contact-messengers {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 13.89vw;
  height: 13.89vw;
  border-radius: 0.28vw;
}
.contact-messengers::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  rotate: 45deg;
  width: 100%;
  height: 0.2vw;
  background-color: #fff;
}
.contact-messengers::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  rotate: -45deg;
  width: 100%;
  height: 0.2vw;
  background-color: #fff;
}
.contact-icon {
  display: inline-flex;
  height: 33.333333%;
  width: 50%;
}
.contact-icon:first-child {
  width: 100%;
  justify-content: center;
}
.contact-icon:nth-child(2) {
  align-items: center;
}
.contact-icon:nth-child(3) {
  align-items: center;
  justify-content: flex-end;
}
.contact-icon:last-child {
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
.contact-icon a {
  display: inline-block;
  height: 90%;
  transition: all 0.3s ease;
}
.contact-icon a img {
  height: 100%;
}
.contact-icon:hover a {
  height: 100%;
}