@import url(https://fonts.googleapis.com/css?family=Comfortaa:regular,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC:regular,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

h1 {
  text-transform: uppercase;
  font-size: 3.3vw;
  line-height: 1.2em;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 1.2em;
}

.chinese {
  font-family: Noto Serif SC;
}

.change-box {
  color: #fff;
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 1.2em;
}

body {
  font-family: Comfortaa;
  width: 100%;
}

.container {
  max-width: 69vw;
  margin: 0 auto;
}

.new-text {
  font-size: 0;
  display: none;
}

.mainscreen {
  width: 100%;
  height: 100vh;
  color: #fff;
}
.mainscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.mainscreen-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainscreen-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3764705882);
}
.mainscreen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.mainscreen-title {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  width: 27.77vw;
  height: 27.77vw;
  padding: 1.39vw;
  border: #fff solid 4px;
  cursor: pointer;
}
.mainscreen-title h1 {
  display: inline-block;
}
.mainscreen-subtitle {
  font-size: 1.5vw;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.about-title {
  margin-bottom: 6vw;
  border: #fff 0.2vw solid;
  width: 40%;
  text-align: center;
  padding: 20px;
}
.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-photo {
  position: relative;
  display: inline-flex;
  flex: 1 1 30%;
  align-items: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.55vw #fff solid;
}
.about-photo::after {
  content: "";
  position: absolute;
  top: -1.4vw;
  left: -1.4vw;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  z-index: -5;
}
.about-photo::before {
  content: "";
  position: absolute;
  top: 1.4vw;
  right: -1.4vw;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  z-index: -5;
}
.about-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 101%;
  height: 105%;
  margin: -2px 0 0 -2px;
}
.about-info {
  display: inline-flex;
  flex: 1 1 30%;
  flex-direction: column;
  color: #fff;
  padding: 0 2.77vw;
  box-sizing: border-box;
}
.about-text {
  font-size: 1.25vw;
  line-height: 1.2em;
  margin-bottom: 1.4vw;
}