// Null styles ========================
@import "_null.scss";


// Fonts ==============================
@import url(https://fonts.googleapis.com/css?family=Jost:regular);
@font-face {
    font-family: chinese;
    font-style: normal;
    font-weight: 400;
    src: url(/src/fonts/KaiTi.ttf);
}

h1 {
    text-transform: uppercase;
    font-size: 2.5vw;
    line-height: 1.2em;
    @media (max-width: 1020px) {
        font-size: 7vw;
    }
}
h2 {
    text-transform: uppercase;
    font-size: 2vw;
    line-height: 1.2em;
    @media (max-width: 1020px) {
        font-size: 5.4vw;
        letter-spacing: -0.1em;
    }
}
// Colors =============================
:root {
    --color-main: #fffafa;
    --color-lighter: #fffafacc;
    --color-dark: #070707;
    --color-darker: #07070798;
}

// Main styles ========================
body {
    width: 100%;
    background-color: var(--color-dark);
    cursor: default;
    color: var(--color-main);
    font-family: Jost;
}
.container {
    max-width: 62.5vw;
    margin: 0 auto;
    @media (max-width: 1020px) {
        max-width: 92vw;        
    }
}
.new-text {
    font-size: 0;
    display: none;
}
.change-text {
    z-index: -5;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: chinese;
}
.section{
    position: relative;
    width: 100%;
    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 6vw;
        border: var(--color-main) 0.2vw solid;
        width: 40%;
        min-height: 8.33vw;
        padding: 1em 1.25em;
        box-sizing: border-box;
        font-family: chinese;
        letter-spacing: -0.5em;
        cursor: pointer;
        &--black {
            border: 0.2vw var(--color-dark) solid;
            color: var(--color-dark);
        }
    }
    &-count {
        position: absolute;
        bottom: 2vw;
        right: 4vw;
        font-size: 10vw;
        font-family: chinese;
    }
    @media (max-width: 1020px) {
        &-title {
            width: 80%;
            min-height: 16.8vw;
            margin-bottom: 10.66vw;
            padding: 1em 0.7em;
            border: var(--color-main) 0.94vw solid;
            &--black {
                border: 0.94vw var(--color-dark) solid;
            }
        }
        &-count {
            font-size: 15vw;
        }
    }
}
// Header =============================
.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    font-family: chinese;
    letter-spacing: -0.4em;
    &-hide {
        right: 0;
    }
    &-wrapper {
        width: 100%;
        padding: 2vw 0;
    }
    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &--li {
            position: relative;
            text-shadow: 0 0 0.2vw  var(--color-darker);
            box-shadow: 0 0 0.4vw  var(--color-darker);
            padding: 0.3em 1em;
            font-size: 1.25vw;
            line-height: 1.2em;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 40%;
                height: 40%;
                border-top: 0.2vw solid var(--color-main);
                border-left: 0.2vw solid var(--color-main);
                transition: all .3s ease;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40%;
                height: 40%;
                border-bottom: 0.2vw solid var(--color-main);
                border-right: 0.2vw solid var(--color-main);
                transition: all .3s ease;
            }
            &:hover {
                &:after {
                    width: 100%;
                    height: 100%;
                }
                &:before {
                    width: 100%;
                    height: 100%;
                }
            }
            &.active {
                &:after {
                    width: 100%;
                    height: 100%;
                }
                &:before {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    @media (max-width: 1020px) {
        width: 35.29vw;
        height: 100vh;
        border-left: 0.94vw solid var(--color-main);
        background-color: var(--color-darker);
        &-wrapper {
            padding: 4.70vw 2vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-menu {
            flex-direction: column;
            gap: 4.70vw;
            &--li {
                font-size: 4.8vw;
                padding: 0.51em 1em;
                &::after{
                    display: none;
                }
                &::before{
                    display: none;
                }
            }
        }
        &-hide {
            right: -36vw;
        }
    }
}

// Mainscreen =========================
.mainscreen {
width: 100%;
height: 100vh;
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6vh;
            background: linear-gradient(0deg, var(--color-dark) 0%, var(--color-darker) 50%, rgba(17, 17, 17,0) 100%);
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &-title {
        display: flex;
        align-items: center;
        text-align: left;
        margin-bottom: 1.39vw;
        width: 25vw;
        height: 25vw;
        padding: 1.39vw;
        border: var(--color-main) solid 0.2vw;
        cursor: pointer;
        & h1 {
            display: inline-block;
            margin: 0 auto;
        }
    }
    &-subtitle {
        font-size: 1.5vw;
        line-height: 1.2em;
    }
    @media (max-width: 1020px) {
        &-title {
            width: 70vw;
            height: 70vw;
            border: var(--color-main) solid 0.94vw;
            margin-bottom: 5.33vw;
        }
        &-subtitle {
            font-size: 4.8vw;
        }
    }
}

// About ==============================
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.78vw 0 8.89vw;
    &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-photo {
        position: relative;
        display: inline-flex;
        flex: 0 0 40%;
        align-items: center;
        justify-content: center;
        height: fit-content;
        border: 0.2vw var(--color-main) solid;
        &::after{
            content: '';
            position: absolute;
            top: -1.4vw;
            left: -1.4vw;
            width: 100%;
            height: 100%;
            border: 0.1vw solid #fff;
            z-index: -5;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -1.4vw;
            right: -1.4vw;
            width: 100%;
            height: 100%;
            border: 0.1vw solid #fff;
            z-index: -5;
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &-info {
        display: inline-flex;
        flex: 1 1 30%;
        flex-direction: column;
        padding: 0 2.77vw;
        box-sizing: border-box;
    }
    &-text {
        font-size: 1.25vw;
        line-height: 1.2em;
        margin-bottom: 1.4vw;
    }
    @media (max-width: 1020px) {
        padding: 5.33vw 0 12vw;
        &-wrapper {
            flex-direction: column;
        }
        &-photo {
            margin-bottom: 5.33vw;
            width: 75%;
            border: 0.94vw var(--color-main) solid;
            &::after {
                top: -4vw;
                left: -4vw;
                border: 0.47vw solid #fff;
            }
            &::before {
                bottom: -4vw;
                right: -4vw;
                border: 0.47vw solid #fff;
            }
        }
        &-text {
            font-size: 4.8vw;
            margin-bottom: 5.33vw;
            padding: 0;
            text-align: center;
        }
    }
}

// Achievements =======================
.achievements {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.78vw 0 13.89vw;
    color: var(--color-dark);
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-main);
        z-index: -10;
    }
    &-wrapper {
        display: flex;
        flex-direction: row;
    }
    &-item {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 33.3333%;
        margin: 3.5vw 2vw;
        border: var(--color-dark) 0.2vw solid;
        overflow: hidden;
        &:first-child {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 7vw;
        }
        &:last-child {
            margin-right: 0;
            margin-top: 7vw;
            margin-bottom: 0;
        }
        &--img {
            position: relative;
            width: 110%;
            height: 25vw;
            overflow: hidden;
            border-bottom: var(--color-dark) 0.2vw solid;
            margin-bottom: 1.4vw;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-darker);
                transition: all .3s ease;
                
            }
            &:hover::after {
                background-color: #00000000;
            }
            & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
            gap: 1.4vw;
            padding: 0 0.7vw 0.7vw 0.7vw;
            box-sizing: border-box;
            margin-bottom: auto;
        }
        &--title {
            text-transform: uppercase;
            font-size: 1.7vw;
            line-height: 1.2em;
        }
        &--text {
            font-size: 1.25vw;
            line-height: 1.2em;
        }
    }
    @media (max-width: 1020px) {
        padding: 5.33vw 0 14vw;
        &-wrapper {
            flex-direction: column;
            gap: 5.33vw;
        }
        &-item {
            width: 100%;
            height: 40vh;
            
            margin: 0;
            flex-direction: row;
            border: var(--color-dark) 0.94vw solid;
            &:first-child {
                margin: 0;
            }
            &:last-child {
                margin: 0;
            }
            &--img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;
                height: 100%;
                margin-bottom: 0;
                border-bottom: none;
                & img {
                    object-fit: cover;
                    height: 100%;
                    width: auto;
                }
                &::after {
                    display: none;
                }
            }
            &--info {
                gap: 4.8vw;
                padding: 4.8vw;
                display: inline-flex;
                width: 70%;
            }
            &--title {
                font-size: 5.33vw;
            }
            &--text {
                font-size: 4.8vw;
            }
        }
    }
}

// Contact ============================
.contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.70vw 0 2.78vw;
    overflow: hidden;
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        & img {
            width: 100%;
            object-fit: cover;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-darker);
        }

    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &-text {
        width: 50%;
        font-size: 1.8vw;
        line-height: 1.2em;
        margin-bottom: 1.8vw;
        & span {
            font-family: chinese;
        }
    }
    &-tel {
        display: block;
        position: relative;
        width: fit-content;
        height: fit-content;
        padding: 1vw;
        margin-bottom: 1.8vw;
        box-sizing: border-box;
        line-height: 1.2em;
        font-size: 1.8vw;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 50%;
            border-left: 0.2vw #fff solid;
            border-top: 0.2vw #fff solid;
            transition: all .3s ease;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30%;
            height: 50%;
            border-right: 0.2vw #fff solid;
            border-bottom: 0.2vw #fff solid;
            transition: all .3s ease;
        }
        &:hover {
            &::before{
                width: 100%;
                height: 100%;
            }
            &::after{
                width: 100%;
                height: 100%;
            }
        }
    }
    &-messengers {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 13.89vw;
        height: 13.89vw;
        border-radius: 0.2vw;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            rotate: 45deg;
            width: 100%;
            height: 0.2vw;
            background-color: var(--color-main);
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 50%;
            left: 0;
            rotate: -45deg;
            width: 100%;
            height: 0.2vw;
            background-color: var(--color-main);
        }
    }
    &-icon {
        display: inline-flex;
        height: 33.333333%;
        width: 50%;
        &:first-child {
            width: 100%;
            justify-content: center;
        }
        &:nth-child(2){
            align-items: center;
        }
        &:nth-child(3){
            align-items: center;
            justify-content: flex-end;
        }
        &:last-child {
            width: 100%;
            justify-content: center;
            align-items: flex-end;
        }
        & a {
            display: inline-block;
            height: 90%;
            transition: all .3s ease;
            & img {
                height: 100%;
            }
        }
        &:hover{
            & a {
                height: 100%;
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4vh;
        background: linear-gradient(180deg, var(--color-main) 0%, var(--color-lighter) 70%, rgba(17, 17, 17,0) 100%);
    }
}